<!doctype html>

<html lang="pl">
	<head>
		<meta charset="utf-8">
		<title>{{ tytul }}</title>
		<meta name="description" content="Moja strona">
		<meta name="author" content="B.Kozak">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		</head>
		<body>
			<div class="container pt-5">
				<center><h1>LICZBY PIERWSZE</h1></center>
				<p>Program podaje liczbę liczb pierwszych w zadanym przedziale, możesz podać liczby z przedziału 2 - 10000</p>
				<form action="{% url 'lpierwsze' %}">
					<lable for="p1">Podaj dół przedziału: </lable>
					<input type="number" id="p1" name="p1" />
					<lable for="p2">Podaj góre przedziału: </lable>
					<input type="number" id="p2" name="p2" />
					<input type="submit" value="Zatwierdź" />
				</form>
				<br />
				<br />
				<a href="{% url 'liczby' %}">O liczbach pierwszych</a>
			</div>
		</body>
</html>
